digite um numero 33

1 3 11 33
33 não é primo!

In [15]:
t = (1, 2, 3) 
t = ('um', 2, 'tres', True, 4.5, 'cinco', False)
print(t[2])
print(t[2:5])
print(t [4])

tres
('tres', True, 4.5)
4.5

In [19]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(t))
print(t.index(7))
print(t.count(2))
t[0] = 'novo valor'
t.append(5)

10
6
1

TypeError: 'tuple' object does not support item assignment

In [26]:
#sets
x = set()
x.add(1)
x.add(2)
print(x)
x.add(1)
print(x)

{1, 2}
{1, 2}

In [27]:
a = True
b = False
c = 1 < 2 
d = 7 > 10
e = None
print(a,b,c,d,e)

True False True False None

In [9]:
filme = {}
filme['titulo']='star wars'
filme ['ano']=1977
filme ['diretor']= 'george lucas'
print(filme)
for k, v in filme.items():
    print('0 {} é {} '.format(k,v))

{'titulo': 'star wars', 'ano': 1977, 'diretor': 'george lucas'}
0 titulo é star wars
0 ano é 1977
0 diretor é george lucas

In [27]:
dicionario  = {'dog':'cachorro','cat':'gato' , 'key2':[12, 23, 33,]}
print(dicionario['dog']) 
print(dicionario['key2'][2])
print(dicionario.keys())

cachorro
33
dict_keys(['dog', 'cat', 'key2'])

In [ ]:
dicionario